<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous"
                defaultHref="tabs/session/game">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Objectif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <div class="choices">
        <ion-badge class="choice__item" *ngFor="let choice of choices" color="primary">
          {{ choice }}
        </ion-badge>
      </div>

      <ion-row>
        <ion-col size="12">
          <ion-list class="ion-no-padding">
            <ion-item *ngFor="let goal of allGoals" (click)="saveAndNextStep(goal)">
              <ion-label class="ion-text-center">{{goal.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>



