<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Pseudo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container container--searchbar">
    <form (ngSubmit)="sendPseudo()" [formGroup]="pseudoForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <span>Entre un pseudo : </span>
              <ion-input
                      placeholder="Pseudo"
                      type="text"
                      formControlName="username"
                      clearInput="true"
              ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button
                    expand="full"
                    type="submit"
                    shape="round"
                    [disabled]="!pseudoForm.valid"
            >Enregistrer
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
