<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous"
                defaultHref="tabs/session/description">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Sessions disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col size="12" size-md="4">
        <h2 class="ion-margin-horizontal" *ngIf="sessionWithoutPlayerInIt !== null && sessionWithoutPlayerInIt.length > 0">Sessions Disponible</h2>

        <ion-card *ngFor="let session of sessionWithoutPlayerInIt">
          <ion-card-header>
            <ion-card-title>
              <div class="content-item date">
                {{ session.date | date:'dd/MM/yyyy HH:mm' }}
              </div>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="content-item">
              <ion-icon name="game-controller-outline"></ion-icon> Jeu: {{ session.game }}
            </div>

            <div class="content-item">
              <ion-icon name="cube-outline"></ion-icon> Mode: {{ session.mode }}
            </div>

            <div class="content-item">
              <ion-icon name="locate-outline"></ion-icon> Objectif: {{ session.goal }}
            </div>

            <div class="content-item">
              Plateforme: {{ session.platform }}
            </div>

            <div class="content-item" *ngIf="session.description !== null">
              Description: <br />
              {{ session.description }}
            </div>
          </ion-card-content>

          <ion-button (click)="joinSession(session)"
                      expand="full"
                      size="default"
                      class="join-button"
          >Rejoindre cette session</ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="sessionsExists">
  <ion-toolbar (click)="createSessionAnyway()" class="clickable">
    <ion-title class="ion-text-center">Créer ta session tout de même ?</ion-title>
  </ion-toolbar>
</ion-footer>
