.img-container {
  display: block;
  margin: 100px auto;
  width: 300px;
}

.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 55px;
  border: 2px solid #00A9E0; // #00A9E0
  border-radius: 50px;

  .message {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
}

.btn-next-page{
  text-transform: inherit;
  font-size: 1rem;
  margin-top: 150px;
  height: 50px;
}



