<ion-header *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-title class="ion-text-center page-title">Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <div class="ion-text-center">Hello, {{ userEmail }}</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <span class="separator"></span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item button routerLink="pseudos">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Modifie ton pseudo
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <span class="separator"></span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item button (click)="signOut()" detail="false">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            Déconnexion
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <span class="separator"></span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item button
                    (click)="deleteAccount()"
                    color="danger"
                    class="center-conter"
                    lines="full">

            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Supprimer compte
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
