<ion-header *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-title class="ion-text-center page-title">Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12"  *ngIf="topGames.length > 0 && isDesktop === true">
        <div class="top-games" >
          <div class="top-games-title">Top jeux recherchés</div>
          <div class="list-games">
            <ion-card class="game-card" *ngFor="let game of topGames">
              <ion-card-content>
                <img class="game-img" src="{{ game.image }}" alt="Image du jeu {{ game.name }}">
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="container">
      <ion-row>
        <ion-col size="12" size-md="6" routerLink="/tabs/session/game" *ngIf="mySessions.length < 1 || null">
          <h3 class="ion-text-center">Sessions actives:</h3>
          <ion-card type="button">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Tu n'as aucune session de prévue. <br> En crée une ?</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" routerLink="/tabs/session/game" *ngIf="myHistory.length < 1 || null">
          <h3 class="ion-text-center">Historique: </h3>
          <ion-card type="button">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Tu n'as aucune session dans ton historique <br> En crée une ?</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12"
                 size-md="6"
                 *ngIf="mySessions.length >= 1">
          <h3 class="ion-text-center">Sessions actives:</h3>
          <ion-list class="ion-no-padding">
            <ion-item *ngFor="let session of mySessions" (click)="openChatSession(session)" class="session">
              <ion-label>
                {{ session.game }}
              </ion-label>
              <ion-label>
                {{ session.date | date:'d/M/yyyy HH:mm' }}
              </ion-label>
              <ion-icon name="chatbox-ellipses-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col
                size="12"
                size-md="6"
                *ngIf="myHistory.length >= 1">
          <h3 class="ion-text-center">Historique:</h3>
          <ion-list class="ion-no-padding">
            <ion-item *ngFor="let session of myHistory">
              <ion-label>
                <ion-icon name="game-controller-outline"></ion-icon> {{ session.game }}
              </ion-label>
              <ion-label>
                {{ session.mode }}
              </ion-label>
              <ion-label>
                {{ session.goal }}
              </ion-label>
              <ion-label>
                <ion-icon name="calendar-outline"></ion-icon> {{ session.expiredAt | date:'d/M/yyyy HH:mm' }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
