<ion-content>
    <div class="middle">
        <form (ngSubmit)="signIn()" [formGroup]="loginForm" class="fake-card">
            <ion-grid>
                <ion-row>
                    <div class="img-container">
                        <ion-img src="assets/logo/desktop_blue.svg"></ion-img>
                    </div>
                    <ion-title class="ion-text-center">Se connecter</ion-title>
                </ion-row>

                <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                    <span *ngIf="email.errors?.required">Email est nécessaire</span>
                    <span *ngIf="email.errors?.email">Email invalide</span>
                </div>

                <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors?.required">Mot de passe nécessaire</span>
                    <span *ngIf="password.errors?.minlength">Mot de passe trop court (6 min.)</span>
                </div>

                <ion-row>
                    <ion-col size="12">
                        <ion-input
                                placeholder="Email"
                                type="email"
                                formControlName="email"
                                clearInput="true"
                                class="padding-start"
                        ></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-input
                                placeholder="Mot de passe"
                                type="password"
                                formControlName="password"
                                clearInput="true"
                                class="padding-start"
                        ></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-button
                                expand="full"
                                type="submit"
                                shape="round"
                                [disabled]="!loginForm.valid"
                        >Se connecter
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-button (click)="openResetPw()"
                                    expand="full"
                                    size="small"
                                    shape="round"
                                    type="button"
                                    fill="clear"
                                    color="primary"
                                    class="ion-margin-top"
                        >Mot de passe oublié ?
                        </ion-button>
                    </ion-col>
                </ion-row>

                <div class="or">OU</div>

                <ion-row class="ion-justify-content-center ">
                    <ion-col size="12">
                        <ion-button
                                routerLink="/register"
                                expand="full"
                                color="secondary"
                                shape="round"
                                class="ion-margin-top btn-signup"
                        >S'inscrire
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
