<ion-content>
    <div class="middle">
        <form (ngSubmit)="showAgreement()" [formGroup]="registerForm" class="fake-card">
            <ion-grid>
                <ion-row>
                    <div class="img-container">
                        <ion-img src="assets/logo/desktop_blue.svg"></ion-img>
                    </div>
                    <ion-title class="ion-text-center">S'inscrire</ion-title>
                </ion-row>

                <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                    <span *ngIf="email.errors?.required">Email est nécessaire</span>
                    <span *ngIf="email.errors?.email">Email invalide</span>
                </div>

                <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors?.required">Mot de passe nécessaire</span>
                    <span *ngIf="password.errors?.minlength">Mot de passe trop court (6 min.)</span>
                </div>

                <ion-row>
                    <ion-col size="12">
                        <ion-input
                                placeholder="Email"
                                formControlName="email"
                                clearInput="true"
                        ></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-input
                                placeholder="Mot de passe"
                                type="password"
                                formControlName="password"
                                clearInput="true"
                        ></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-margin-top">
                    <ion-col size="12">
                        <ion-label>Confirmer mot de passe</ion-label>
                        <ion-input
                                placeholder="Confirmer mot de passe"
                                type="password"
                                formControlName="confirmPassword"
                                clearInput="true"
                                class="ion-margin-top"
                        ></ion-input>
                    </ion-col>
                </ion-row>


                <!-- End of conditional fields -->
                <ion-row>
                    <ion-col size="12">
                        <ion-button
                                expand="full"
                                type="submit"
                                shape="round"
                                [disabled]="!registerForm.valid">S'inscrire
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <!-- Our custom forward navigation -->
                    <ion-col size="12">
                        <ion-button
                                expand="full"
                                size="small"
                                shape="round"
                                type="button"
                                fill="clear"
                                color="primary"
                                class="ion-margin-top"
                                routerLink="/login"
                        >Se connecter
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
