<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-item (click)="close()">
        <ion-icon name="close-outline" class="icon" size="small" slot="start"></ion-icon>
      </ion-item>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Réinitialisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-input
                  placeholder="Rentre ton email"
                  type="email"
                  [(ngModel)]="email"
                  clearInput="true"
          ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-button
                expand="full"
                color="primary"
                (click)="sendResetEmail()">

          Envoyer lien
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
