<ion-header *ngIf="!isDesktop">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button
                icon="chevron-back-outline"
                class="btn-previous"
                text=""
                defaultHref="tabs/session/platform">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Choix jeu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container container--searchbar">
    <ion-row>
      <ion-searchbar
              animated="true"
              mode="ios"
              (ionChange)="searchFor($event)">
      </ion-searchbar>
    </ion-row>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row class="ion-margin-top" *ngIf="isDesktop">
        <ion-col *ngFor="let game of allGames | filter: searchInput: 'name'"
                 size="3"
                 size-sm="3"
                 size-xs="12"
                 class="ion-text-center"
                 (click)="saveAndNextStep(game)">

          <ion-card>
            <img src="{{ game.image }}" alt="Image du jeu {{ game.name }}" class="card__image">
            <ion-card-header>
              <ion-card-title class="card__title">
                <span *ngIf="game.name.length > 20">
                  {{ game.name | slice:0:20 }}...
                </span>

                <span *ngIf="game.name.length <= 20">
                  {{ game.name }}
                </span>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isDesktop">
        <ion-list>
          <ion-item *ngFor="let game of allGames | filter: searchInput: 'name'" (click)="saveAndNextStep(game)">
            <ion-thumbnail slot="start">
              <ion-img [src]="game.image" alt="Image du jeu {{ game.name }}"></ion-img>
            </ion-thumbnail>
            <ion-label>{{game.name}}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>



